#* @vtlvariable name="newUser" type="org.jahia.services.content.JCRNodeWrapper" *#
#* @vtlvariable name="bundle" type="java.util.ResourceBundle" *#
<html>
<body>
<p>
Hi!
</p>
<p>
New user created
</p>
</body>
</html>